
.map-container {
  position: relative;
}

.map {
  height: calc(100vh - 64px);
}


.map-filter {
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 400;
  background: #fff;
  padding: 4px;
  border-radius: 4px;
}

.filter-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 400;
}

.close-filter {
  float: right;
}

.type-filter {
  display: flex;
  flex-direction: column;
  margin-top: -15px;
  .mat-checkbox {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
  }
}

.type-icon {
  width: 18px;
  height: 30px;
  margin: 0 2px;
  margin-top: 5px;
}
