<div class="popup-card">
  <img *ngIf="fair.imagePath" [src]="fair.imagePath" class="popup-image" />
  <div class="popup-info-card">
    <div class="info-item"><span class="label">{{ 'FAIR.NAME' | translate }}:</span> {{ fair.name }}</div>
    <div class="info-item" *ngIf="fair.address"><span class="label">{{ 'FAIR.ADDRESS' | translate }}:</span> {{ fair.address }}</div>
    <div class="info-item" *ngIf="fair.schedule"><span class="label">{{ 'FAIR.SCHEDULE' | translate }}:</span> {{ fair.schedule }}</div>
    <div class="info-item" *ngIf="fair.responsible"><span class="label">{{ 'FAIR.RESPONSIBLE' | translate }}:</span> {{ fair.responsible }}</div>
    <div class="info-item" *ngIf="fair.phone"><span class="label">{{ 'FAIR.PHONE' | translate }}:</span> {{ fair.phone }}</div>
    <div class="info-item" *ngIf="fair.description"><span class="label">{{ 'FAIR.DESCRIPTION' | translate }}:</span> {{ fair.description }}</div>
  </div>
</div>
