<div class="map-container">
  <div id="map" class="map"></div>
  <button *ngIf="isMobile && !filtersVisible" class="filter-toggle" mat-fab color="primary" (click)="toggleFilters()">
    <mat-icon>filter_list</mat-icon>
  </button>
  <div class="map-filter" *ngIf="!isMobile || filtersVisible">
    <button *ngIf="isMobile" mat-icon-button class="close-filter" (click)="toggleFilters()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'FILTER_DAY' | translate }}</mat-label>
      <mat-select [(ngModel)]="day" (selectionChange)="applyFilter()">
        <mat-option *ngFor="let d of daysOfWeek" [value]="d.value">{{ d.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="type-filter">
      <label>{{ 'FILTER_TYPE' | translate }}</label>
      <mat-checkbox *ngFor="let t of types" [checked]="selectedTypes.includes(t)" (change)="toggleType(t, $event.checked)">

        {{ ('FAIR.TYPE_' + t) | translate }}
        <img [src]="iconUrl(t)" class="type-icon" />
      </mat-checkbox>
    </div>
  </div>
</div>