# Global ignores
.DS_Store
*.log

# Dependency directories
node_modules/
target/

# IDE
.idea/
.vscode/

# Environment
.env

# SSL certificates
nginx/certbot/www/
nginx/certbot/conf/*
!nginx/certbot/conf/options-ssl-nginx.conf
!nginx/certbot/conf/ssl-dhparams.pem
