.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f5f5f5;
  color: var(--text-color);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.lang-menu {
  display: flex;
  align-items: center;
}
.right-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-button {
  text-transform: none;
  color: var(--primary-color);
}
.lang-button {
  width: 36px;
  height: 36px;
}

.lang-button mat-icon {
  vertical-align: middle;
}

button.mat-button {
  color: var(--text-color);
}
