<header class="app-header">
  <div class="logo">Cadê o Pet?</div>

  <div class="right-actions">
    <button mat-button (click)="openHowToUse()">{{ 'HOW_TO_USE.TITLE' | translate }}</button>
    <button mat-button (click)="openContribute()">{{ 'CONTRIBUTE.TITLE' | translate }}</button>
    <a *ngIf="!loggedIn" mat-button routerLink="/login" class="login-button">{{ 'LOGIN.TITLE' | translate }}</a>
    <button *ngIf="loggedIn" mat-button (click)="logout()">Logout</button>
    <div class="lang-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Change language" class="lang-button">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="switchLang('pt')">
          {{ 'INTERNATIONALIZATION.PORTUGUESE' | translate }}
        </button>
        <button mat-menu-item (click)="switchLang('en')">
          {{ 'INTERNATIONALIZATION.ENGLISH' | translate }}
        </button>
      </mat-menu>
    </div>
  </div>
</header>
