<mat-card>
  <mat-card-title>{{ 'PROPERTY.MY_RECORDS' | translate }}</mat-card-title>
  <mat-card-content>
    <table class="my-properties">
      <thead>
        <tr>
          <th>{{ 'PROPERTY.IMAGE' | translate }}</th>
          <th>{{ 'PROPERTY.STATUS' | translate }}</th>
          <th>{{ 'PROPERTY.TITLE' | translate }}</th>
          <th>{{ 'PROPERTY.PRICE' | translate }}</th>
          <th>{{ 'PROPERTY.BEDROOMS' | translate }}</th>
          <th>{{ 'PROPERTY.BATHROOMS' | translate }}</th>
          <th>{{ 'PROPERTY.PHONE' | translate }}</th>
          <th>{{ 'PROPERTY.ACTIONS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of data.properties" [class.deleted]="p.deleted">
          <td>
            <img *ngIf="p.images?.length" [src]="p.images?.[0]" width="50" />
          </td>
          <td>{{ ('PROPERTY.STATUS_' + p.status) | translate }}</td>
          <td>{{ p.title }}</td>
          <td>{{ p.price }}</td>
          <td>{{ p.bedrooms }}</td>
          <td>{{ p.bathrooms }}</td>
          <td>{{ p.phone }}</td>
          <td>
            <button mat-button color="primary" (click)="edit(p)" [disabled]="p.deleted">{{ 'PROPERTY.EDIT' | translate }}</button>
            <button mat-button color="warn" (click)="remove(p)" [disabled]="p.deleted">{{ 'PROPERTY.REMOVE' | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="close()">{{ 'COMMON.CLOSE' | translate }}</button>
  </mat-card-actions>
</mat-card>
