<form class="property-form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="loading-overlay" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <button mat-icon-button type="button" class="close-btn" (click)="close()" *ngIf="dialogRef">
    <mat-icon>close</mat-icon>
  </button>
  <div class="form-columns">
    <div class="column">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.STATUS' | translate }}</mat-label>
        <mat-select formControlName="status">
          <mat-option value="SALE">{{ 'PROPERTY.STATUS_LOST' | translate }}</mat-option>
          <mat-option value="RENT">{{ 'PROPERTY.STATUS_FOUND' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.TITLE' | translate }}</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.SUBTITLE' | translate }}</mat-label>
        <input matInput formControlName="subtitle" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.PROPERTY_TYPE' | translate }}</mat-label>
        <mat-select formControlName="propertyType">
          <mat-option value="APARTAMENTO">Apartamento</mat-option>
          <mat-option value="CASA">Casa</mat-option>
          <mat-option value="COMERCIAL">Comercial</mat-option>
          <mat-option value="RURAL">Rural</mat-option>
          <mat-option value="TERRENO">Terreno</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Subtipo</mat-label>
        <mat-select formControlName="propertySubtype">
          <mat-option *ngFor="let st of availableSubtypes" [value]="st">{{ st }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Finalidade</mat-label>
        <mat-select formControlName="finalidade">
          <mat-option value="RESIDENCIAL">Residencial</mat-option>
          <mat-option value="COMERCIAL">Comercial</mat-option>
          <mat-option value="MISTO">Misto</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.PRICE' | translate }}</mat-label>
        <input matInput type="number" formControlName="price" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.CONDO_FEE' | translate }}</mat-label>
        <input matInput type="number" formControlName="condoFee" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.REFERENCE' | translate }}</mat-label>
        <input matInput formControlName="reference" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.REALTOR' | translate }}</mat-label>
        <input matInput formControlName="realtor" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.BEDROOMS' | translate }}</mat-label>
        <input matInput type="number" formControlName="bedrooms" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.SUITES' | translate }}</mat-label>
        <input matInput type="number" formControlName="suites" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.BATHROOMS' | translate }}</mat-label>
        <input matInput type="number" formControlName="bathrooms" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.GARAGES' | translate }}</mat-label>
        <input matInput type="number" formControlName="garages" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.AREA_UTIL' | translate }} (m²)</mat-label>
        <input matInput type="number" formControlName="areaUtil" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.AREA_TOTAL' | translate }} (m²)</mat-label>
        <input matInput type="number" formControlName="areaTotal" />
      </mat-form-field>
    </div>
    <div class="column">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.DESCRIPTION' | translate }}</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width large-multiselect">
        <mat-label>{{ 'PROPERTY.PROPERTY_ITEMS' | translate }}</mat-label>
        <mat-select formControlName="propertyItems" multiple>
          <mat-option *ngFor="let item of propertyItemValues" [value]="item">{{ item }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width large-multiselect">
        <mat-label>{{ 'PROPERTY.BUILDING_ITEMS' | translate }}</mat-label>
        <mat-select formControlName="buildingItems" multiple>
          <mat-option *ngFor="let item of buildingItemValues" [value]="item">{{ item }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.NEIGHBORHOOD' | translate }}</mat-label>
        <input matInput formControlName="neighborhood" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.STREET' | translate }}</mat-label>
        <input matInput formControlName="street" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.NEIGHBORHOOD_DESCRIPTION' | translate }}</mat-label>
        <textarea matInput formControlName="neighborhoodDescription"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.OBSERVATION' | translate }}</mat-label>
        <textarea matInput formControlName="observation"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.PHONE' | translate }}</mat-label>
        <input matInput formControlName="phone" mask="(00) 00000-0000" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.NAME' | translate }}</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PROPERTY.DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <label class="address-label">{{ 'PROPERTY.SELECT_ADDRESS' | translate }}</label>
      <div id="selectMap" class="map"></div>
      <div class="coords">Lat: {{form.value.latitude}} - Lng: {{form.value.longitude}}</div>
      <label class="images-label">{{ 'PROPERTY.IMAGES' | translate }}</label>
      <input type="file" multiple accept="image/*" (change)="onFile($event)" />
      <div class="preview-list" *ngIf="imageUrls.length">
        <mat-progress-spinner *ngIf="imageLoading" diameter="30" mode="indeterminate"></mat-progress-spinner>
        <div class="carousel">
          <button mat-icon-button type="button" (click)="prevImage()"><mat-icon>chevron_left</mat-icon></button>
          <img [src]="imageUrls[currentImage]" />
          <button mat-icon-button type="button" (click)="nextImage()"><mat-icon>chevron_right</mat-icon></button>
          <button mat-icon-button type="button" class="delete-btn" (click)="removeCurrentImage()"><mat-icon>close</mat-icon></button>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="!canSave()">{{ 'PROPERTY.SAVE' | translate }}</button>
    <button mat-button type="button" (click)="close()" *ngIf="dialogRef">{{ 'COMMON.CLOSE' | translate }}</button>
  </div>
</form>
