<div class="popup-card">
  <img *ngIf="property.images?.length" [src]="property.images?.[0]" class="popup-img" />
  <div class="popup-info-card">
    <div class="info-item" *ngIf="property.title"><span class="label">{{ 'PROPERTY.TITLE' | translate }}:</span> {{ property.title }}</div>
    <div class="info-item" *ngIf="property.propertySubtype"><span class="label">Subtipo:</span> {{ property.propertySubtype }}</div>
    <div class="info-item" *ngIf="property.finalidade"><span class="label">Finalidade:</span> {{ property.finalidade }}</div>
    <div class="info-item" *ngIf="property.price"><span class="label">{{ 'PROPERTY.PRICE' | translate }}:</span> {{ property.price | currency }}</div>
    <div class="info-item"><span class="label">{{ 'PROPERTY.STATUS' | translate }}:</span> {{ ('PROPERTY.STATUS_' + property.status) | translate }}</div>
    <div class="info-item" *ngIf="property.bedrooms"><span class="label">{{ 'PROPERTY.BEDROOMS' | translate }}:</span> {{ property.bedrooms }}</div>
    <div class="info-item" *ngIf="property.bathrooms"><span class="label">{{ 'PROPERTY.BATHROOMS' | translate }}:</span> {{ property.bathrooms }}</div>
    <div class="info-item" *ngIf="property.phone">
      <span class="label">{{ 'PROPERTY.PHONE' | translate }}:</span> {{ property.phone }}
      <a class="whatsapp-link" [href]="'https://wa.me/' + phoneDigits(property.phone)" target="_blank">
        <img src="assets/whatsapp.svg" alt="WhatsApp" />
      </a>
    </div>
    <div class="info-item" *ngIf="property.observation"><span class="label">{{ 'PROPERTY.OBSERVATION' | translate }}:</span> {{ property.observation }}</div>
    <div class="more-details" *ngIf="property.id">
      <button mat-button color="primary" [routerLink]="['/property', property.id]">{{ 'PROPERTY.MORE_DETAILS' | translate }}</button>
    </div>
  </div>
</div>
