.app-footer {
  text-align: center;
  padding: 8px;
  background-color: var(--background-color);
  border-top: 1px solid #ddd;
}
.app-footer a {
  text-decoration: none;
  color: var(--primary-color);
}
