<h2 mat-dialog-title>{{ 'CONTRIBUTE.TITLE' | translate }}</h2>
<mat-dialog-content class="content">
  <p style="font-weight: bold; color: black; font-size: 18px;">Conhece alguma feira que não está no mapa? Contribua enviando as informações para: jpfurlan&#64;hotmail.com.br</p>
  <p></p>
  <p style="font-weight: bold; color: black; font-size: 18px;">Encontrou algum bug envie para: jpfurlan&#64;hotmail.com.br</p>
  <p></p>
  <p>{{ 'CONTRIBUTE.TEXT' | translate }}</p>
  <p>{{ 'CONTRIBUTE.PIX' | translate }}: jpfurlan&#64;hotmail.com.br</p>
  <p>{{ 'CONTRIBUTE.LIGHTNING' | translate }}: jpfurlan&#64;coinos.io</p>
  <h3 style="text-align: center;">{{ 'CONTRIBUTE.ABOUT' | translate }}</h3>
  <p style="text-align: center;">
    <a href="https://jpfurlan.dev/" target="_blank">{{ 'CONTRIBUTE.DEVELOPED_BY' | translate }}</a>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">{{ 'COMMON.CLOSE' | translate }}</button></mat-dialog-actions>