<h2 mat-dialog-title>{{ 'CONTRIBUTE.TITLE' | translate }}</h2>
<mat-dialog-content class="content">
  <p class="info">
    {{ 'CONTRIBUTE.MISSING_FAIR' | translate }}:
    <a href="mailto:jpfurlan@hotmail.com.br">jpfurlan&#64;hotmail.com.br</a>
  </p>
  <p class="info">
    {{ 'CONTRIBUTE.REPORT_BUG' | translate }}:
    <a href="mailto:jpfurlan@hotmail.com.br">jpfurlan&#64;hotmail.com.br</a>
  </p>
  <p>{{ 'CONTRIBUTE.TEXT' | translate }}</p>
  <p>{{ 'CONTRIBUTE.PIX' | translate }}: jpfurlan&#64;hotmail.com.br</p>
  <p>{{ 'CONTRIBUTE.LIGHTNING' | translate }}: jpfurlan&#64;coinos.io</p>
  <h3 class="about-title">{{ 'CONTRIBUTE.ABOUT' | translate }}</h3>
  <p class="about-link">
    <a href="https://jpfurlan.dev/" target="_blank">{{ 'CONTRIBUTE.DEVELOPED_BY' | translate }}</a>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end"> <button mat-button (click)="close()">{{ 'COMMON.CLOSE' | translate }}</button></mat-dialog-actions>