/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #1976d2;
  --accent-color: #4caf50;
  --background-color: #f5f5f5;
  --text-color: #333;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; background: var(--background-color); color: var(--text-color); }
@import "leaflet/dist/leaflet.css";
/* Esconde o reveal do Edge/IE */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Esconde o reveal do WebKit (Chrome, Safari) */
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

/* Garante que não venha nenhuma aparição extra */
input[type="password"] {
  -webkit-appearance: none;
}

.cluster-icon {
  background: rgba(0, 123, 255, 0.6);
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
}
